<div class="auth login">
  <h1>Login</h1>
  <form action="<%= session_url %>" method="post">
    <%= render "shared/auth_token" %>
    <input placeholder="Username" type="text" name="user[username]">
    <input class="password" placeholder="Password" type="password" name="user[password]">
    <button class="user-login">Login</button>
  </form>
  <form action="<%= session_url %>" method="post">
    <%= render "shared/auth_token" %>
    <input type="hidden" name="user[username]" value="guest">
    <input type="hidden" name="user[password]" value="password">
    <button class="guest-login">Login As Guest</button>
  </form>
  <div class="signup-link">
    Don't Have An Account? <a href="<%= new_user_url %>">Sign Up</a>
  </div>

</div>
