<div class="left-side">
  <div id="username"><%= user.escape("username") %></div>
  <div id="prof-pic">
    <img src="<%= user.escape("image_url") %>">
  </div>
  <% if (currentUserId === user.id) { %>
    <button id="edit-prof-pic">Edit Profile Picture</button>
  <% } %>
    <div id="lyrics-iq">
      Lyrics IQ: <%= user.escape("genius_iq") %>
    </div>
    <div id="about-me">
      <div id="about">About <%= user.escape("username") %></idv>
      <div id="desc"><%= user.escape("about_me") %></div>
      <% if (currentUserId === user.id) { %>
        <button id="edit-about-me">Edit About Me</button>
      <% } %>
    </div>
</div>
<div class="right-side">
  <div class="tabs">
    <div id="lyrics">
      Lyrics
    </div>
    <div id="annotations">
      Annotations
    </div>
  </div>
  <div class="tabs-material">
  </div>
</div>
