<div class="left-side">
  <div id="username"><%= user.escape("username") %></div>
  <div id="prof-pic">
    <img src="<%= user.escape("image_url") %>">
  </div>
  <% if (currentUserId === user.id) { %>
    <button id="edit-prof-pic">Change Profile Picture</button>
  <% } %>
  <div id="lyrics-iq">
    Lyrics IQ: <%= user.escape("genius_iq") %>
  </div>
  <div id="about-me">
    <div id="about">About <%= user.escape("username") %></div>
    <div class="box">
      <div id="desc"><%= user.escape("about_me") %></div>
      <% if (currentUserId === user.id) { %>
        <button class="buttons" id="edit-about-me">Edit About Me</button>
      <% } %>
    </div>
  </div>
</div>
<div class="right-side">
  <div class="group" id="tabs">
    <div id="tab-lyrics">
      <div class="tab">Lyrics</div>
      <div class="tab-border clicked" id="lyrics-border"></div>
    </div>
    <div id="tab-annotations">
      <div class="tab">Annotations</div>
      <div class="tab-border" id="annos-border"></div>
    </div>
  </div>
  <div id="under-tabs"></div>
</div>
