<h2><%= lyric.escape("track_title") %></h2>
<a href="#/artists/<%= lyric.artist().id %>">
         <%= lyric.artist().escape("name") %>
       </a>
<a href="#/lyrics/<%= lyric.id %>/edit">Edit Lyric</a>
<section id="lyric"><%= lyric.formatLyric() %></section>
