<header class="header group">
  <ul class="header-list group">
    <li class="header-logo">
      <a href="<%= root_url %>">Question To All Answers</a>
    </li>
    <ul class="not-logo">
      <li><div id="search-bar-header"></div></li>
      <li class="create-lyric"><a href="#/lyrics/new">Create Lyric</a></li>
      <% if current_user.nil? %>
        <li class="login-link">
          <a href="<%= new_session_url %>">Log In</a>
        </li>
      <% else %>
        <li class="user">
          <a href="#/users/<%= current_user.id %>"><%= current_user.username %></a>
        </li>
        <li class="logout-link">
          <form action="<%= session_url %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <%= render "shared/auth_token" %>
          <button>Log Out</button>
          </form>
        </li>
      <% end %>
    </ul>
  </ul>
</header>
<div class="header-img">
  <img>
  <section>
    "I just wanna take it to another level that I've never even been on<br>
    So I can sit on every single piece of paper that I put a pen on<br>
    And when I been on for like 10 years, I'mma do it better than anybody before me<br>
    So the whole wide world will adore me and no need to assure me" - Logic
  <section>
</div>
