<header class="header group">

  <ul class="header-list group">
    <li class="header-logo">
      <a href="<%= root_url %>">Question To All Answers</a>
    </li>
    <ul class="not-logo">
      <li><div id="search-bar-header"></div></li>
      <li class="create-lyric"><a href="#/lyrics/new">Create Lyric</a></li>
      <% if current_user.nil? %>
        <li><a href="<%= new_user_url %>">Sign Up</a></li>
        <li><a href="<%= new_session_url %>">Log In</a></li>
      <% else %>
        <li class="user">
          <a href="#/users/<%= current_user.id %>"><%= current_user.username %></a>
        </li>
        <li class="logout">
          <form action="<%= session_url %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <%= render "shared/auth_token" %>
          <button>Log Out</button>
          </form>
        </li>
      <% end %>
    </ul>
  </ul>
</header>
