<!DOCTYPE html>
<html>
<head>
  <title>Genius</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user.nil? %>
  <a href="<%= new_user_url %>">Sign Up</a>
  <a href="<%= new_session_url %>">Log In</a>
<% else %>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= render "shared/auth_token" %>
    <button>Log Out</button>
  </form>
<% end %>
<br>

<%= yield %>

</body>
</html>
