<!DOCTYPE html>
<html>
<head>
  <title>Genius</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="<%= root_url %>">Home</a>
<a href="<%= new_lyric_url %>" method="post">Create Lyric</a>
<% if current_user.nil? %>
  <a href="<%= new_user_url %>">Sign Up</a>
  <a href="<%= new_session_url %>">Log In</a>
<% else %>
  <a href="<%= user_url(current_user) %>"><%= current_user.username %></a>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= render "shared/auth_token" %>
    <button>Log Out</button>
  </form>
<% end %>
<br>
<%= render "shared/errors" %>
<br>

<%= yield %>

</body>
</html>
